body{
    background-color: rgb(173, 173, 173);
    font-family: 'Quicksand', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#head h1{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 700px;
    text-shadow: 2px 2px 2px grey;
}

.fonte2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}



#head{
    background-color: rgb(154, 108, 165);
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}
h2{
    color: white;

}


.sec2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    padding:10px;
    background-color: rgb(154, 108, 165);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}


button{
    border-radius: 15px;
    border: 1px solid white;
}

a{
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
#foot{
    display: flex;
    justify-content: center;
    background-color: rgb(154, 108, 165);
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 20px;
}